<h1>All Available Skills</h1>

<ul>
<% @skills.each do |skill| %>
    <li><%= link_to skill.name, skill %></li>
<% end %>
</ul>

<div class="button">
<%= link_to "Add a Skill", new_skill_path %>
</div>