
<p>get the skills to pay your bills</p>

<h1>The Skills</h1>

<ul>
<% @skills.each do |skill| %>
    <li><%= link_to skill.name, skill %></li>
<% end %>
</ul>

<%= link_to "Add a Skill", new_skill_path %>