/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* font-family: 'Titillium Web', sans-serif; */

@import url(https://fonts.googleapis.com/css?family=Sanchez:400italic,400);
@import url(https://fonts.googleapis.com/css?family=Abel|Titillium+Web:400,300italic,700,600italic);

 body {
    background-color: #DCAFFA;
}

h1, h2 {
    font-family: 'Sanchez', serif;
}

h3, p, li {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  
}

a {
  font-family: 'Abel', sans-serif;
}

.nav {
  width: 95%;
  border: 1px solid black;
  overflow: hidden;
  padding: 10px;
}

.first {
  float: left;
  width: 400px;
}

.second {
  float: right;
  overflow: hidden;
  padding-top: 25px;
  padding-right: 10px;
}
