/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* font-family: 'Titillium Web', sans-serif; */

@import url(https://fonts.googleapis.com/css?family=Sanchez:400italic,400);
@import url(https://fonts.googleapis.com/css?family=Abel|Titillium+Web:400,300italic,700,600italic);

 body {
    background-color: #DCAFFA;
}

#page_container {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 105%;
}

#maincontainer {
  width: 100%;
  padding-left: 100px;
  font-size: 140%;
}

h1, h2 {
    font-family: 'Sanchez', serif;
}

.logotype a {
  font-family: 'Sanchez', serif;
  font-size: 30px;
  text-decoration: none !important;
  color: white;
}

h3, p, li {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  
}

a {
  font-family: 'Abel', sans-serif;
}

.nav {
  width: 100%;
  border: 1px solid black;
  overflow: hidden;
  padding: 10px;
  background-image: asset-url("chessmatch_purple.jpg");
  color: white;
}

.nav a {
  text-decoration: none !important;
  color: white;
}

.translucent {
  opacity: 0.4;
  filter: alpha(opacity = 40);
}

.first {
  float: left;
  width: 350px;
  padding-top: 20px;  
}

.middle {
  padding-top: 35px;
}

.second {
  float: right;
  overflow: hidden;
  padding-top: 25px;
  padding-right: 10px;
}

.center {
  font-weight: 700;
  text-align: center;
  padding: 5px;
}

.button {
  max-width: 150px;
  padding: 15px;
  border-radius: 15px;
  text-decoration: none !important;
  text-align: center;
  font-weight: 700;
  background-color: white;
}

.superbutton {
  max-width: 150px;
  padding: 15px;
  border-radius: 15px;
  text-decoration: none !important;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  background-color: white;
  margin-left: 425px;
}

fieldset {
  padding: 1em;
  font-family: sans-serif;
  }
fieldset .form {
  padding: 5px;
  margin-left: 100px;
}
label {
  width:25%;
  margin-right: 0.5em;
  padding-top: 0.2em;
  font-weight:bold;
  }

